# SQL Server Configuration
DB_USER=TestUser
DB_PASSWORD=1234
DB_SERVER=barcodemanagement-server.mysql.database.azure.com
DB_DATABASE=BarcodeDB
DB_PORT=3306
DB_TRUST_SERVER_CERTIFICATE=true

# Firebase Config (for Auth on frontend)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
